.container {
    display: flex;
    padding: 7px;
    border: 2px solid teal;
    min-width: 600px;
    max-width: 1000px;
    margin: 1px 0;
}

.img__container {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.img__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #bdbdbd;
}

.content__container {
    display: flex;
    width: 100%;
    margin-left: 10px;
}

.content__name__price {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__name__price p {
    font-size: 16px;
    font-weight: bold;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content__price {
    font-size: 18px;
    font-weight: 600;
    color: #199919;
}

.content__date {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.content__indicator {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.content__indicator span {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.indicator__active {
    background-color: #08d108;
}

.indicator__cancelled {
    background-color: #db0505;
}

.content__link {
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.content__link:hover {
    color: teal;
}